.button {
    font-size: 14px;
    font-weight: 600;
    padding: calc(var(--spacing) * 1.25) calc(var(--spacing) * 2.5);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &__primary {
        background-color: var(--b-100);
        color: #fff;
        &:hover {
            background-color: var(--b-200);
        }
    }

    &__secondary {
        background-color: var(--gs-300);
        color: #333;
        &:hover {
            background-color: var(--gs-200);
        }
    }
}