.button {
    font: var(--font-c-1);
    padding: calc(var(--spacing) * 1.25) calc(var(--spacing) * 2.5);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &__primary {
        background-color: var(--b-100);
        color: var(--gs-0);
        &:hover {
            background-color: var(--b-200);
        }
    }

    &__secondary {
        background-color: var(--gs-300);
        color: var(--gs-500);
        &:hover {
            background-color: var(--gs-200);
        }
    }
}